body{
    font-family: Old English Text MT;
    margin:auto;
    padding: 50px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 55, 12);
    background-image: "./imgs/file-20181022-105754-921ihj.webp";
}

h1{
    padding-bottom: 50px;
}