body{
    margin:auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(199, 55, 12);
    background: url('./imgs/4.png');
    background-size: cover;


    
}

h1{
    font-family: Old English Text MT;
    font-size: 5.5em;
    padding-bottom: 20px;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(0, 0, 0), 0 0 0.2em rgb(255, 5, 5);
}

@-webkit-keyframes blink {
    from { color: rgb(63, 5, 5); }
    to { color: rgb(0, 0, 0); }
   };

@-moz-keyframes blink {
    from { color: rgb(63, 5, 5); }
    to { color: rgb(0, 0, 0); }
  };
  @-ms-keyframes blink {
    from { color: rgb(63, 5, 5); }
    to { color: rgb(0, 0, 0); }
  };
  @-o-keyframes blink {
    from { color: rgb(63, 5, 5); }
    to { color: rgb(0, 0, 0); }
  };
  @keyframes blink {
    from { color: rgb(63, 5, 5); }
    to { color: rgb(0, 0, 0); }
  };
 
  .blink {
     color:rgb(0, 0, 0);
     -webkit-animation: blink 3 alternate;
     -moz-animation: blink 3 alternate;  
     -ms-animation: blink 3 alternate;  
     -o-animation: blink 3 alternate;  
     animation: blink 3 alternate;  
     color: rgb(63, 5, 5);
  }